.parkinsans-<uniquifier> {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <>;
  font-style: normal;
}
.plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <>;
  font-style: normal;
}
body{
	background-image: url(https://i.pinimg.com/736x/a6/11/9e/a6119e4ef5594227d591e6fdbf44e7b0.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	text-align: center;
	font-family: "Parkinsans", sans-serif;
	font-weight: 600;
	font-size: 50px;
	color: white;
	text-shadow: 0px 1px 4px rgba(34, 89,99, 1.0)
}
.logo{
	width: 60px;
	height: 50px;
}
.nav-item{
	font-size: 15px;
	font-weight: 500;
	font-family: "Plus Jakarta Sans", sans-serif;
}
.row label{
	font-weight: 600;
	font-family: "Plus Jakarta Sans", sans-serif;
	color: #233f4a;
}
.row input, textarea{
	font-weight: 400;
	font-family: "Plus Jakarta Sans", sans-serif;
}
.alert{
	font-weight: 400;
	font-family: "Parkinsans", sans-serif;
}
.row button{
	font-weight: 400;
	font-family: "Plus Jakarta Sans", sans-serif;
}












